
*.pyc
*.log
.ipynb_checkpoints/

example/.ipynb_checkpoints/*
build/
dist/
.vscode/
**/temp/
.claude/


bckp_polar/
test_*
pyMMF/solvers/.ipynb_checkpoints/
docs/venv/
docs_sphinx/
docs/_build/
docs/generated/
**/.cache
./docs/example/*.png
./docs/example/*.npz
./docs/example/*.pkl
pyMMF.egg-info/
*.png
*.nbc
*.nbi
/*.npz