
*.pyc
*.log
.ipynb_checkpoints/

example/.ipynb_checkpoints/*
build/
dist/
.vscode/


bckp_polar/
test*
pyMMF/solvers/.ipynb_checkpoints/
docs/venv/
docs_sphinx/
**/.cache
./docs/example/*.png
./docs/example/*.npz
./docs/example/*.pkl
pyMMF.egg-info/
*.png
